.about-me {
  height: 100vh;
  // background-image: url(../img/landing.webp);
  // background-size: cover;
  display: grid;
  grid-template-columns: 10% auto auto auto 10%;
  // justify-content: center;
  // align-items: center;
  padding-top: 2em;
}
@media (min-width: 1400px) {
  .about-me {
    grid-template-columns: 20% auto auto auto 20%;
  }
}

.content {
  grid-column: 2 / span 3;
  padding: 0;
}

h2 {
  font-size: 2em;
}

.content h2,
.content p {
  font-weight: 100;
  padding: 2em 5em 0 5em;
}

// nice content
.container {
  grid-row: 2;
  padding: 2em;
  height: 12em;
}

.container i {
  font-size: 5em;
}

.con-tec {
  grid-column: 2 / span 1;
}

.con-dev {
  grid-column: 3 / span 1;
  background: rgba(#1481ba, 0.7);
}
.con-tin {
  grid-column: 4 / span 1;
}

// info under 3 items
.work {
  grid-row: 3;
  padding: 0 1em;
}

.left {
  background: none;
  grid-column: 2 / span 2;
}
.right {
  grid-column: 3 / span 2;
}

h3,
.container,
.work {
  font-weight: 100;
}
.card h3 {
  padding: 1em;
}
.work h3 {
  font-style: italic;
  padding-bottom: 0.2em;
}
.work p {
  padding: 0 15em;
}
