footer i,
a {
  color: white;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // margin: 2em 0;
  padding: 1em 0;
  font-size: 0.7em;
  font-style: italic;
  background: rgba(#313131, 0.8);
}
