footer i,
a {
  color: white;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  font-size: 0.7em;
  font-style: italic;
  background: rgba(#564946, 0.8);
}
