h1 {
  font-size: 3em;
  font-weight: 400;
}
.landing p {
  font-size: 1.2em;
}
.landing i {
  font-size: 2em;
  padding-top: 2em;
  color: white;
}

.landing {
  height: 100vh;
  background-image: url(../img/landing.webp);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  // paralax
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// .content {
//   background: rgba(#313131, 0.2);
// }

.intro p {
  background: rgba(#003cff, 0.7);
}
