// about me section
.about-me {
  display: block;
}

.content {
  padding: 2em 3em 1em 3em;
}

.container i {
  font-size: 2em;
}

.container {
  padding: 1em 3em;
}

.con-dev {
  background: rgba(#1481ba, 0.7);
  -webkit-box-shadow: inset 0px 1px 49px 3px rgba(3, 71, 72, 0.534);
  box-shadow: inset 0px 1px 49px 3px rgba(3, 71, 72, 0.534);
}

// work
.work {
  padding: 1em 2em;
}
.left {
  background: rgba(#034748, 0.21);
}
.work h3 {
  font-style: italic;
}

.social {
  padding: 1em;
  padding-bottom: 2em;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}

// footer
footer i,
a {
  color: white;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
  padding: 1em 0;
  font-size: 0.7em;
  font-style: italic;
  background: rgba(#564946, 0.8);
}
