@import "reset";
@import "font/roboto";
@import "landing";

@media (min-width: 1023px) {
  @import "about-me";
  @import "footer";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
  background-color: #2b2b2b;
}
