@import "font/_font.scss";
@import "reset";

body {
  font-family: Roboto, sans-serif;
  text-align: center;
}
a,
i {
  color: white;
}
.landing {
  height: 100vh;
  background-image: url(/img/landing.jpg);
}
